.PosterPreviewWrapBg {
    background-color: var(--bg-color-main);
}

.PosterPreviewWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.PosterPreviewTrendingCard {
    border-radius: 5px;
    min-height: 520px;
    width: 300px;
    background-color: var(--bg-color-card);
    align-items: center;
    margin-bottom: 10px;
}

.PosterPreviewTrendingH3 {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--font-color-main);


}

.PosterPreviewTrendingVote {
    font-weight: bold;
    color: var(--font-color-main);
    padding: 0 0 5px 10px;
}

.Page {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 70px;

}

.Page button {

    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    background-image: var(--bg-color-btn);

}