.UserInfo {
    height: 80px;
    width: 80px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #d40443;
    color: #fff;
}
