.FoundMovieListWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    padding-bottom: 20px;
    background-color: var(--bg-color-main)

}

.Title {
    color: var(--font-color-main);
    padding: 0 0 5px 10px;
}

.Vote {
    color: var(--font-color-main);
    font-weight: bold;
    padding-left: 20px;
}

.FoundMovieListCard{
    border-radius: 5px;
    width: 300px;
    min-height: 550px;
    background-color: var(--bg-color-card);
    padding: 20px 0 20px 0;

}
.FoundMovieListCard img{
    height: 450px;
}

.Page {
    display: flex;
    justify-content: flex-end;
    background-color: var(--bg-color-main)
}

.Page button {
    border: 1px solid #ec9216;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-image: var(--bg-color-btn);
    color: var(--font-color-cardInfo);
    font-weight: bold;
    border-radius: 10px;


}

.Page h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--font-color-main);
}
