.MovieListWrapper {
    background-color: var(--bg-color-main);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;

}

.MovieListWrapperBtn {
    background-color: var(--bg-color-main);
}

.Page {
    display: flex;
    justify-content: flex-end;

}

.Page button {
    border: 1px solid snow;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: var(--font-color-cardInfo);
    font-weight: bold;
    border-radius: 10px;
    background-image: var(--bg-color-btn)

}
