* {
    margin: 0 auto;
    padding: 0;
}

.HeaderWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
    min-height: 90px;
    background-image: var(--bg-color-menu);

}

.Header {
    display: flex;
    column-gap: 30px;
}

.Header a {
    font-size: 30px;

    text-decoration: none;
    font-weight: bold;
    color: var(--font-color-menu)

}

.Header a[class='active'] {
    color: var(--font-color-menu-active)

}


.Header a:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.25);
}
