.MovieCardWrapper {

    border-radius: 5px;
    min-height: 650px;
    width: 300px;
    background-color: var(--bg-color-card);
    align-items: center;
    margin-bottom: 10px;


}

.MovieCardWrapper img {
    height: 450px;
}

.Title {
    color: var(--font-color-main);
    padding: 0 0 5px 10px;
    font-weight: bold;
}

.Vote {
    color: var(--font-color-main);
    padding-left: 20px;
    font-weight: bold;
}


.MovieCardWrapper a {
    text-decoration: none;
    color: darkblue;
    padding: 5px;
}

.MovieCardStars {
    padding-left: 15px;
}