body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root[color-scheme="dark"] {
    color-scheme: dark;
    --bg-color-main: #112c3f;
    --bg-color-card: #132673;
    --bg-color-genres: linear-gradient(90deg, #0e989a 0%, #c97cc0 100%);
    --font-color-main: #ec9216;
    --font-color-cardInfo: #ec9216;
    --bg-color-btn: linear-gradient(144deg, #18467b, #5B42F3 50%, #6a65e2);
    --bg-color-menu: linear-gradient(144deg, #043d71, #246abc 50%, #18467b);
    --font-color-menu: #ffffff;
    --font-color-menu-active: #ec9216;

}

:root[color-scheme="light"] {
    color-scheme: ligtt;

    --bg-color-main: rgba(255, 213, 221, 0.72);
    --bg-color-card: #ced8e1;
    --bg-color-genres: linear-gradient(90deg, #00DBDE 0%, #f193e6 100%);
    --font-color-main: #0c04cb;
    --font-color-cardInfo: #ffffff;
    --bg-color-btn: linear-gradient(144deg, #18467b, #f193e6 50%, #6a65e2);
    --bg-color-menu: linear-gradient(144deg, #043d71, #f193e6 50%, #18467b);
    --font-color-menu: #ffffff;
    --font-color-menu-active: #f193e6;

}
